.App{
    height: 100vh;
    width: 100vw;
    background-color: #faf9fb;
    overflow-x: hidden;
}
.App::-webkit-scrollbar{
    display: none;
}
/* Header Style*/
header{
    display: flex;
    align-items: center;    
    justify-content: space-around;
    padding: 5px 15px;
    height:60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}

.logo{
    min-width:60px;
    width: 60px;
}
.inputBox{
    background-color: #FFF;
    border-radius: 25px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 8px 15px;
    width: 120px;
}
.inputBox .searchIcon{
    color: #787a84;
    font-size: 20px;
}

.inputBox input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: #787a84;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 500;
}

.shoppingCart{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;

}

.shoppingCart .cart{
    font-size: 30px;
    color: #373848;
}
.shoppingCart .cart_content{
    width: 20px;
    height: 20px;
    background:#f8901c;
    border-radius: 100%;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top:-8px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.shoppingCart .cart_content p{
    font-weight: 500;
    color: #faf9fb;
}

.profioleContainer{
    display: flex;
    align-items: center;
}

.profioleContainer .imgBox{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 100vw;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profioleContainer .imgBox .profilePic{ 

    object-fit: cover;
}

.profioleContainer .userName{
    font-size: 16px;
    margin-left: 8px;
    font-weight: 500;
    display: none;
    align-items: center;

}

.toggleMenu{
    display: flow-root;
    align-items: center;
    justify-content: center;
    color: #373848;

}
.toggleIcon{
    transform: rotate(90deg);
}
/* End Header Style*/

/* Bottom Menu Style*/
.buttomMenu{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#d5d5d5;
    width: 100%;
    height: 60px;
    border-radius: 25px 25px 0 0 ;
    z-index: 101;
}

.buttomMenu ul {
    display: flex;
}
.buttomMenu ul li {
    position: relative;
    width: 60px;
    height: 60px;
    z-index: 1;
}
.buttomMenu ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    
}
.buttomMenu ul li a .icon{

    position: relative;
    display: block;
    line-height: 70px;
    text-align: center;
    transition: 0.5s;

}
.buttomMenu ul li a .icon .MuiSvgIcon-root{
    font-size:26px;
    color:#373848;
}
.buttomMenu ul li:hover a .icon{

    transform: translateY(-26px);

}

.buttomMenu ul li:hover a .icon .MuiSvgIcon-root{
    color: #faf9fb;
    transform: 0.5s;
}
.indicator{
    position: absolute;
    background-color: #f8901c;
    top: -50%;
    border-radius: 100vw;
    border: 6px solid #faf9fb;
    width: 60px;
    height: 60px;
    transition: 0.5s;
}

.indicator::before{
    content:'';
    position: absolute;
    top:50%;
    left: -20px;
    width: 18px;
    height: 18px;
    border-top-right-radius: 18px;
    background-color: transparent;
    box-shadow: 0px -10px 0 0 #faf9fb;



}

/* End Bottom Menu srtyle*/

/* Main Menu*/
main{
    width: 100%;
    height:auto;
    margin-top:60px;
    background-color:#444;
}
